:root {
  --color-white: #ffffff;
  --color-black: #212121;
  --color-dark-black: #000;
  --color-grey: #f2f2f2;
  --color-light-grey: #efebeb;
  --color-dark-grey: #333;
  --color-accent: #f64060;
  --color-second-accent: #00798a;
  --color-btn-search: #f33b3b;
  --color-light-accent: #f65858;
  --color-data: #7c6f50;
  --color-border: #ccc;
  --color-text:#707070;
  --color-text-dark:#444;
  --color-text-light:#666;
  --color-text-footer: #f6f7f8;
  --color-info-footer:#c5c4c4;
 
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

button,
input,
textarea,
select {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  max-width: 1512px;
  padding: 11px 50px 11px 24px;
  margin: auto;
}
.navbar {
  display: flex;
}
.logo {
  margin-right: 40px;
}
.nav-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  position: relative;
}
.search-icon {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 12px;
  top: 25%;
}
.nav-input {
  border: 1px solid var(--color-light-grey);
  border-radius: 8px 0 0 8px;
  width: 300px;
  height: 42px;
  padding-left: 40px;

  flex-grow: 1;
  min-width: 100px;
  width: auto;
  padding-left: 40px;
}
.right {
  border-radius: 0 8px 8px 0;
}
.nav-search-btn {
  border-radius: 0 8px 8px 0;
  width: 42px;
  height: 42px;
  background:var(--color-light-accent);
  cursor: pointer;
  border: none;
  padding: 10px;
  position: absolute;
  right: 0;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
.nav-search-btn:hover {
  background-color:var(--color-btn-search);
}
.search-white-icon {
  width: 20px;
  height: 20px;
}
.nav-wrapper-right {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-left: auto;
}
.language-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  gap: 8px;
  background: transparent;
  align-items: center;
  border: none;
}

.arrow-icon {
  width: 12px;
  height: 12px;
}

.login-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-black);
  cursor: pointer;
  border: none;
  background: transparent;
}
.signup-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: var(--color-white);
  border-radius: 8px;
  background: var(--color-second-accent);
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
.signup-btn:hover,
.signup-btn:focus {
  background: var(--color-light-accent);
}

.main-container {
  max-width: 1222px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 100vh;
   display: flex;
  flex-direction: column;
  padding: 20px;

}
.filter-even{
    margin-top: 77px;
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
    position: relative;

}
.map-contsiner{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

}
.mein-title{
font-weight: 600;
font-size: 28px;
line-height: 1.28571;
color: var(--color-dark-black);
margin-bottom: 16px;
}

.link-events{
font-weight: 500;
font-size: 20px;
line-height: 1.4;
text-align: center;
color: var(--color-second-accent);
text-decoration: solid;
border-bottom: 3px solid var(--color-second-accent);
margin-bottom: 12px;
}

.map-text{
font-weight: 500;
font-size: 12px;
line-height: 1.3;
color: var(--color-black);

}
.second-title{
font-weight: 700;
font-size: 20px;
line-height: 1.4;
color: var(--color-black);

}




.filters-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:20px;
    margin-bottom: 12px;
}

.filters-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}


.filter select {
 
  padding: 16px 18px;
  font-size: 14px;
  line-height: 1;
  border-radius: 40px;
  border: none;
  background-color: var(--color-grey);
  appearance: none; 
  cursor: pointer;

color: var(--color-black); 
  
 
}
 .type{
    width: 118px;

  }
  .distance{
    width: 145px;

  }
  .category{
    width: 148px;

  }

.filter select:focus {
  outline: none;
  
}

.filter select::-ms-expand {
  display: none; 
}

.filter select::after {
  content: '\25BC'; 
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
}

.filter select:hover {
  border-color: var(--color-light-grey) ; 
}

.filter select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%3E%3Cpath%20d=%22M6%2010l6%206%206-6%22%20stroke=%22%23333%22%20stroke-width=%222%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 21px;
}


.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 604px;
    width: 100%;
}

.item {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 16px 0;
  border-top: 1px solid var(--color-border);
  height: auto;
}

.card-img {
  width: 160px;
  height: 120px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
}

.event-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
}
.data{
font-weight: 500;
font-size: 14px;
line-height: 1.42857;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--color-data);
margin-bottom: 4px;
}

.text {
  font-size: 14px;
  color: var(--color-text-light);
  margin-bottom: 4px;
}


.no-results {
  font-size: 18px;
  color: var(--color-text-dark);
  text-align: center;
  padding: 30px 0;
}

.footer {
  background: var(--color-black);
  padding-top: 24px;
  padding-bottom: 40px;
}
.footer-container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrap-get-srated {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-white);
}
.footer-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-footer);
}
.get-started-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 6px;
  padding: 10px 14px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}
.get-started-btn:hover {
  background-color: var(--color-text);
}
.info-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 24px;
}
.info-title {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-footer);
}
.info-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
  flex: 1;
}
.info-item {
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-info-footer);
}

.follow-title {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-footer);
  margin-top: 24px;
}
.follow-link-wrap {
  display: flex;
  margin-top: 12px;
}
.follow-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.link-wrap {
  margin-left: auto;
}
.privacy-list {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.privacy-list .accent {
  color: var(--color-text-footer);
}
.privacy-item {
  font-size: 14px;
  line-height: 1.42857;
  color: var(--color-info-footer);
}
.c-meetup {
  display: none;
}









@media (max-width: 999px) {

.map-contsiner{
    display: none;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

}
    
}

@media (max-width: 768px) {
  .header {
    max-width: 728px;
    padding: 11px 20px;
    margin: auto;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .nav-wrapper {
    order: 1;
    width: 100%;
    margin: 10px auto;
  }
  .language-icon {
    width: 14px;
    height: 14px;
  }
  .language-btn {
    font-size: 12px;
    gap: 4px;
  }

  .login-btn {
    font-size: 12px;
    padding: 4px;
  }

  .signup-btn {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
  }
  .main-container {
    max-width: 590px;
    padding: 0 15px;
    margin: 0 auto;
   
  }
  .mein-title{
    font-size: 25px;
    line-height: 1.44;
  }

  .footer-container {
    max-width: 590px;
  }
  .info-list {
    min-width: 0;
  }
  .follow-list {
    gap: 12px;
  }
}

@media (max-width: 392px) {
  .header {
    max-width: 364px;
    padding: 6px 14px;
    margin: auto;
  }
  .nav-wrapper-right {
    gap: 8px;
  }
  .nav-input {
  border-radius: 0 8px 8px 0;

}

  .right {
    display: none;
  }
  .main-container {
    max-width: 364px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .filters-wrapper {
  display: flex;
  gap: 8px;
  
}
.filter select{
    padding: 10px 8px;
    background-position: right 7px center;
    background-size: 17px;
    font-size: 12px;
}
  .type{
    width: 100px;

  }
  .distance{
    width: 110px;

  }
  .category{
    width: 115px;

  }
  .item{
    padding: 10px 0;
    gap: 8px;

  }

  .card-img{
     width: 97px;
    height: 64px;
    margin-bottom: 0;

  }
 
  .data{
    font-size: 8px;
    line-height: 1.4;


  }
  .subtitle{
    font-size: 9px;
    line-height: 1.5;

  }
  .text{
    font-size: 8px;
    line-height: 1.4;

  }

   .wrap-get-srated{
      gap: 18px;
    } 
    .follow-link-wrap{
      margin-bottom: 36px;
    }
    .link-wrap{
      display: none;
    }
    .privacy-list{
      display: none;
    }

    .c-meetup{
    display: block;
    font-size: 14px;
    color: var(--color-white);
    }

}